body{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.tbl-msn{
  width: 350px;
  height: 200px;
 box-shadow:20px 20px 50px 10px pink inset; 
  position: relative;
  left: 3%;
  margin-top: 20px;
}

.table-data{
  padding: 10px;
 
}
.table-style{
  position: relative;


}
.reg-form{
  display: flex;
  width: 600px;
  position: relative;
  left: 26%;
  border: 3px solid green;
}
.form-style{
  width: 300px;
  position: relative;
  left: 10%;

  margin-top: 32px;
}
.btn-style{
  background-color: chocolate;
  text-align: center;
}
.txt-style{
  text-align: center;
  text-shadow: 5px 5px 10px rgb(208, 255, 0);
}